flows.json
[{"id":"37e38a37.b58926","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"703fe7d2.0c6e08","type":"ui_form","z":"37e38a37.b58926","name":"","label":"","group":"45f13b2f.10f334","order":2,"width":0,"height":0,"options":[{"label":"YEAR","value":"a","type":"number","required":true,"rows":null},{"label":"STATUS","value":"b","type":"number","required":true,"rows":null},{"label":"ADULT MORTALITY","value":"c","type":"number","required":true,"rows":null},{"label":"INFANT DEATHS","value":"d","type":"number","required":true,"rows":null},{"label":"ALCOHOL","value":"e","type":"number","required":true,"rows":null},{"label":"EXPENDIATURE","value":"f","type":"number","required":true,"rows":null},{"label":"HEPATITIS B\t","value":"g","type":"number","required":true,"rows":null},{"label":"MEASLES","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"UNDER 5 DEATHS","value":"j","type":"number","required":true,"rows":null},{"label":"POLIO","value":"k","type":"number","required":true,"rows":null},{"label":"TOTAL EXPENDIATURE","value":"l","type":"number","required":true,"rows":null},{"label":"DEPHTHERIA","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"POPULATION","value":"p","type":"number","required":true,"rows":null},{"label":"THINNESS 1-19","value":"q","type":"number","required":true,"rows":null},{"label":"THINNESS 5-9","value":"r","type":"number","required":true,"rows":null},{"label":"INCOME","value":"s","type":"number","required":true,"rows":null},{"label":"SCHOOLING","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":70,"y":260,"wires":[["81869.ab42d7978"]]},{"id":"81869.ab42d7978","type":"function","z":"37e38a37.b58926","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"9m802N_sR6r43qL22GqByAZHgwodOyS_naK392MzvrSx\";\nmsg.headers={'content-Type':'application/x-www-form-urlencoded'};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["e9279169.63693"]]},{"id":"4a4ed274.a78c5c","type":"debug","z":"37e38a37.b58926","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":280,"wires":[]},{"id":"e9279169.63693","type":"http request","z":"37e38a37.b58926","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":140,"wires":[["d5a86bd0.97be48"]]},{"id":"d5a86bd0.97be48","type":"function","z":"37e38a37.b58926","name":"send to endpoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"91151e2c-2c13-4501-94a7-d7dc6c3a9470\";\nmsg.headers={'content-Type':\"application/json\",'Authorization':\"Bearer\"+token,\"ML-Instance-Id\":instance_id};\n\nvar a=global.get(\"a\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar d=global.get(\"d\");\nvar e=global.get(\"e\");\nvar f=global.get(\"f\");\nvar g=global.get(\"g\");\nvar h=global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\n\n\nmsg.payload={\n    \"fields\":['Year', 'Status', 'Adult_Mortality', 'Infant_Deaths',\n       'Alcohol', 'Expenditure', 'Hepatitis_B', 'Measles', 'BMI',\n       'Under_five_deaths', 'Polio', 'Total_Expenditure', 'Diphtheria',\n       'HIVAIDS', 'GDP', 'Population', 'Thinness 1-19', 'Thinness 5-9',\n       'Income', 'Schooling'],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n       \nreturn msg;       \n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["d4641685.130ac8"]]},{"id":"d4641685.130ac8","type":"http request","z":"37e38a37.b58926","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/91151e2c-2c13-4501-94a7-d7dc6c3a9470/deployments/ce3c2525-dcf2-49bd-83a0-3de4b41d53b0/online'","tls":"","persist":false,"proxy":"","authType":"basic","x":660,"y":320,"wires":[["4a4ed274.a78c5c","8dc8c80e.3855a8"]]},{"id":"8dc8c80e.3855a8","type":"function","z":"37e38a37.b58926","name":"get from endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["a8fc1b78.b745f8","abb241d.94abbc"]]},{"id":"a8fc1b78.b745f8","type":"debug","z":"37e38a37.b58926","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":420,"wires":[]},{"id":"abb241d.94abbc","type":"ui_gauge","z":"37e38a37.b58926","name":"","group":"45f13b2f.10f334","order":2,"width":0,"height":0,"gtype":"gage","title":"PREDICTION","label":"years","format":"{{value}}","min":0,"max":"100","colors":["#6464b5","#e60000","#ca0505"],"seg1":"","seg2":"","x":900,"y":500,"wires":[]},{"id":"45f13b2f.10f334","type":"ui_group","z":"","name":"PREDICTING LIFE EXPECTANCY","tab":"2dd4aa05.cd8656","order":1,"disp":true,"width":"7","collapse":false},{"id":"2dd4aa05.cd8656","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]